# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Арикс Area Limit"=3
    I:"Вендиго Area Limit"=1
    I:"Йети Area Limit"=5
    I:"Ледяной паук Area Limit"=5
    I:"Рейвер Area Limit"=3
    I:"Серпикс Area Limit"=1
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Арикс Block Cost"=1
    I:"Вендиго Block Cost"=1
    I:"Йети Block Cost"=1
    I:"Ледяной паук Block Cost"=1
    I:"Рейвер Block Cost"=8
    I:"Серпикс Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Арикс Forced Despawning"=false
    B:"Арикс Natural Despawning"=true
    B:"Вендиго Forced Despawning"=false
    B:"Вендиго Natural Despawning"=true
    B:"Йети Forced Despawning"=false
    B:"Йети Natural Despawning"=false
    B:"Ледяной паук Forced Despawning"=false
    B:"Ледяной паук Natural Despawning"=true
    B:"Рейвер Forced Despawning"=false
    B:"Рейвер Natural Despawning"=true
    B:"Серпикс Forced Despawning"=false
    B:"Серпикс Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Арикс Dungeon Weight"=200.0
    D:"Вендиго Dungeon Weight"=100.0
    D:"Йети Dungeon Weight"=0.0
    D:"Ледяной паук Dungeon Weight"=250.0
    D:"Рейвер Dungeon Weight"=200.0
    D:"Серпикс Dungeon Weight"=100.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Арикс Spawning Enabled"=true
    B:"Вендиго Spawning Enabled"=true
    B:"Йети Spawning Enabled"=true
    B:"Ледяной паук Spawning Enabled"=true
    B:"Рейвер Spawning Enabled"=true
    B:"Серпикс Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Arctic Mobs Spawn Biomes"=COLD, SNOWY, CONIFEROUS, -END
    S:"Arctic Mobs Spawn Dimensions"=-1,1

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Arctic Mobs Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Арикс Group Max"=3
    I:"Арикс Group Min"=1
    I:"Вендиго Group Max"=1
    I:"Вендиго Group Min"=1
    I:"Йети Group Max"=4
    I:"Йети Group Min"=1
    I:"Ледяной паук Group Max"=2
    I:"Ледяной паук Group Min"=1
    I:"Рейвер Group Max"=3
    I:"Рейвер Group Min"=1
    I:"Серпикс Group Max"=1
    I:"Серпикс Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Арикс Spawn Biomes"=GROUP
    S:"Вендиго Spawn Biomes"=GROUP
    S:"Йети Spawn Biomes"=GROUP
    S:"Ледяной паук Spawn Biomes"=GROUP
    S:"Рейвер Spawn Biomes"=GROUP
    S:"Серпикс Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Арикс Spawn Chance"=1.0
    D:"Вендиго Spawn Chance"=1.0
    D:"Йети Spawn Chance"=1.0
    D:"Ледяной паук Spawn Chance"=1.0
    D:"Рейвер Spawn Chance"=1.0
    D:"Серпикс Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Арикс Spawns In Dark"=true
    B:"Арикс Spawns In Light"=false
    B:"Вендиго Spawns In Dark"=true
    B:"Вендиго Spawns In Light"=false
    B:"Йети Spawns In Dark"=false
    B:"Йети Spawns In Light"=true
    B:"Ледяной паук Spawns In Dark"=true
    B:"Ледяной паук Spawns In Light"=false
    B:"Рейвер Spawns In Dark"=true
    B:"Рейвер Spawns In Light"=false
    B:"Серпикс Spawns In Dark"=true
    B:"Серпикс Spawns In Light"=false
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Арикс Spawn Dimensions"=GROUP
    B:"Арикс Spawn Dimensions Whitelist Mode"=false
    S:"Вендиго Spawn Dimensions"=GROUP
    B:"Вендиго Spawn Dimensions Whitelist Mode"=false
    S:"Йети Spawn Dimensions"=GROUP
    B:"Йети Spawn Dimensions Whitelist Mode"=false
    S:"Ледяной паук Spawn Dimensions"=GROUP
    B:"Ледяной паук Spawn Dimensions Whitelist Mode"=false
    S:"Рейвер Spawn Dimensions"=GROUP
    B:"Рейвер Spawn Dimensions Whitelist Mode"=false
    S:"Серпикс Spawn Dimensions"=GROUP
    B:"Серпикс Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Арикс Spawn Types"=SKY, OOZE
    S:"Вендиго Spawn Types"=MONSTER, OOZE
    S:"Йети Spawn Types"=CREATURE
    S:"Ледяной паук Spawn Types"=MONSTER
    S:"Рейвер Spawn Types"=FROSTFIRE, SKY
    S:"Серпикс Spawn Types"=MONSTER, OOZE
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Арикс Spawn Weight"=8.0
    D:"Вендиго Spawn Weight"=4.0
    D:"Йети Spawn Weight"=10.0
    D:"Ледяной паук Spawn Weight"=10.0
    D:"Рейвер Spawn Weight"=8.0
    D:"Серпикс Spawn Weight"=4.0
}


