# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Astaroth Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Astaroth Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Astaroth Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Astaroth Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Astaroth Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Astaroth Pierce"=0

    # Movement speed. Average speed is 28
    I:"Astaroth Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Бегемот Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Бегемот Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Бегемот Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Бегемот Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Бегемот Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Бегемот Pierce"=0

    # Movement speed. Average speed is 28
    I:"Бегемот Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Бельф Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Бельф Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Бельф Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Бельф Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Бельф Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Бельф Pierce"=0

    # Movement speed. Average speed is 28
    I:"Бельф Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Душа Ада Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Душа Ада Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Душа Ада Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Душа Ада Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Душа Ада Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Душа Ада Pierce"=0

    # Movement speed. Average speed is 28
    I:"Душа Ада Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Злой дух Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Злой дух Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Злой дух Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Злой дух Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Злой дух Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Злой дух Pierce"=0

    # Movement speed. Average speed is 28
    I:"Злой дух Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Пинки Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Пинки Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Пинки Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Пинки Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Пинки Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Пинки Pierce"=0

    # Movement speed. Average speed is 28
    I:"Пинки Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Трайт Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Трайт Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Трайт Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Трайт Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Трайт Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Трайт Pierce"=0

    # Movement speed. Average speed is 28
    I:"Трайт Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Astaroth Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Astaroth Defense"=1.0

    # Effect strengths and durations.
    D:"Astaroth Effect"=1.0

    # Attack and ability speeds.
    D:"Astaroth Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Astaroth Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Astaroth Pierce"=1.0

    # Movement speed.
    D:"Astaroth Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Бегемот Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Бегемот Defense"=1.0

    # Effect strengths and durations.
    D:"Бегемот Effect"=1.0

    # Attack and ability speeds.
    D:"Бегемот Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Бегемот Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Бегемот Pierce"=1.0

    # Movement speed.
    D:"Бегемот Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Бельф Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Бельф Defense"=1.0

    # Effect strengths and durations.
    D:"Бельф Effect"=1.0

    # Attack and ability speeds.
    D:"Бельф Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Бельф Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Бельф Pierce"=1.0

    # Movement speed.
    D:"Бельф Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Душа Ада Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Душа Ада Defense"=1.0

    # Effect strengths and durations.
    D:"Душа Ада Effect"=1.0

    # Attack and ability speeds.
    D:"Душа Ада Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Душа Ада Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Душа Ада Pierce"=1.0

    # Movement speed.
    D:"Душа Ада Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Злой дух Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Злой дух Defense"=1.0

    # Effect strengths and durations.
    D:"Злой дух Effect"=1.0

    # Attack and ability speeds.
    D:"Злой дух Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Злой дух Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Злой дух Pierce"=1.0

    # Movement speed.
    D:"Злой дух Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Пинки Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Пинки Defense"=1.0

    # Effect strengths and durations.
    D:"Пинки Effect"=1.0

    # Attack and ability speeds.
    D:"Пинки Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Пинки Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Пинки Pierce"=1.0

    # Movement speed.
    D:"Пинки Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Трайт Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Трайт Defense"=1.0

    # Effect strengths and durations.
    D:"Трайт Effect"=1.0

    # Attack and ability speeds.
    D:"Трайт Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Трайт Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Трайт Pierce"=1.0

    # Movement speed.
    D:"Трайт Speed"=1.0
}


