# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Astaroth Area Limit"=1
    I:"Бегемот Area Limit"=5
    I:"Бельф Area Limit"=10
    I:"Душа Ада Area Limit"=10
    I:"Злой дух Area Limit"=5
    I:"Пинки Area Limit"=5
    I:"Трайт Area Limit"=40
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Astaroth Block Cost"=1
    I:"Бегемот Block Cost"=1
    I:"Бельф Block Cost"=1
    I:"Душа Ада Block Cost"=1
    I:"Злой дух Block Cost"=1
    I:"Пинки Block Cost"=1
    I:"Трайт Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Astaroth Forced Despawning"=false
    B:"Astaroth Natural Despawning"=true
    B:"Бегемот Forced Despawning"=false
    B:"Бегемот Natural Despawning"=true
    B:"Бельф Forced Despawning"=false
    B:"Бельф Natural Despawning"=true
    B:"Душа Ада Forced Despawning"=false
    B:"Душа Ада Natural Despawning"=true
    B:"Злой дух Forced Despawning"=false
    B:"Злой дух Natural Despawning"=true
    B:"Пинки Forced Despawning"=false
    B:"Пинки Natural Despawning"=true
    B:"Трайт Forced Despawning"=false
    B:"Трайт Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Astaroth Dungeon Weight"=40.0
    D:"Бегемот Dungeon Weight"=40.0
    D:"Бельф Dungeon Weight"=200.0
    D:"Душа Ада Dungeon Weight"=120.0
    D:"Злой дух Dungeon Weight"=80.0
    D:"Пинки Dungeon Weight"=120.0
    D:"Трайт Dungeon Weight"=200.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Astaroth Spawning Enabled"=true
    B:"Бегемот Spawning Enabled"=true
    B:"Бельф Spawning Enabled"=true
    B:"Душа Ада Spawning Enabled"=true
    B:"Злой дух Spawning Enabled"=true
    B:"Пинки Spawning Enabled"=true
    B:"Трайт Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Demon Mobs Spawn Biomes"=NETHER
    S:"Demon Mobs Spawn Dimensions"=-1

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Demon Mobs Spawn Dimensions Whitelist Mode"=true
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Astaroth Group Max"=1
    I:"Astaroth Group Min"=1
    I:"Бегемот Group Max"=1
    I:"Бегемот Group Min"=1
    I:"Бельф Group Max"=4
    I:"Бельф Group Min"=1
    I:"Душа Ада Group Max"=4
    I:"Душа Ада Group Min"=1
    I:"Злой дух Group Max"=1
    I:"Злой дух Group Min"=1
    I:"Пинки Group Max"=3
    I:"Пинки Group Min"=1
    I:"Трайт Group Max"=10
    I:"Трайт Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Astaroth Spawn Biomes"=GROUP
    S:"Бегемот Spawn Biomes"=GROUP
    S:"Бельф Spawn Biomes"=GROUP
    S:"Душа Ада Spawn Biomes"=GROUP
    S:"Злой дух Spawn Biomes"=GROUP
    S:"Пинки Spawn Biomes"=GROUP
    S:"Трайт Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Astaroth Spawn Chance"=1.0
    D:"Бегемот Spawn Chance"=1.0
    D:"Бельф Spawn Chance"=1.0
    D:"Душа Ада Spawn Chance"=1.0
    D:"Злой дух Spawn Chance"=1.0
    D:"Пинки Spawn Chance"=1.0
    D:"Трайт Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Astaroth Spawns In Dark"=true
    B:"Astaroth Spawns In Light"=true
    B:"Бегемот Spawns In Dark"=true
    B:"Бегемот Spawns In Light"=true
    B:"Бельф Spawns In Dark"=true
    B:"Бельф Spawns In Light"=true
    B:"Душа Ада Spawns In Dark"=true
    B:"Душа Ада Spawns In Light"=true
    B:"Злой дух Spawns In Dark"=true
    B:"Злой дух Spawns In Light"=true
    B:"Пинки Spawns In Dark"=true
    B:"Пинки Spawns In Light"=true
    B:"Трайт Spawns In Dark"=true
    B:"Трайт Spawns In Light"=true
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Astaroth Spawn Dimensions"=GROUP
    B:"Astaroth Spawn Dimensions Whitelist Mode"=false
    S:"Бегемот Spawn Dimensions"=GROUP
    B:"Бегемот Spawn Dimensions Whitelist Mode"=false
    S:"Бельф Spawn Dimensions"=GROUP
    B:"Бельф Spawn Dimensions Whitelist Mode"=false
    S:"Душа Ада Spawn Dimensions"=GROUP
    B:"Душа Ада Spawn Dimensions Whitelist Mode"=false
    S:"Злой дух Spawn Dimensions"=GROUP
    B:"Злой дух Spawn Dimensions Whitelist Mode"=false
    S:"Пинки Spawn Dimensions"=GROUP
    B:"Пинки Spawn Dimensions Whitelist Mode"=false
    S:"Трайт Spawn Dimensions"=GROUP
    B:"Трайт Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Astaroth Spawn Types"=MONSTER, PORTAL
    S:"Бегемот Spawn Types"=MONSTER, PORTAL
    S:"Бельф Spawn Types"=MONSTER, PORTAL
    S:"Душа Ада Spawn Types"=MONSTER, PORTAL, SKY
    S:"Злой дух Spawn Types"=PORTAL, SKY
    S:"Пинки Spawn Types"=MONSTER, PORTAL
    S:"Трайт Spawn Types"=MONSTER, PORTAL
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Astaroth Spawn Weight"=1.0
    D:"Бегемот Spawn Weight"=2.0
    D:"Бельф Spawn Weight"=8.0
    D:"Душа Ада Spawn Weight"=6.0
    D:"Злой дух Spawn Weight"=4.0
    D:"Пинки Spawn Weight"=6.0
    D:"Трайт Spawn Weight"=10.0
}


