# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Warg Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Warg Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Warg Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Warg Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Warg Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Warg Pierce"=0

    # Movement speed. Average speed is 28
    I:"Warg Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Аризавр Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Аризавр Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Аризавр Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Аризавр Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Аризавр Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Аризавр Pierce"=0

    # Movement speed. Average speed is 28
    I:"Аризавр Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Спригган Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Спригган Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Спригган Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Спригган Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Спригган Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Спригган Pierce"=0

    # Movement speed. Average speed is 28
    I:"Спригган Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Трэнт Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Трэнт Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Трэнт Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Трэнт Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Трэнт Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Трэнт Pierce"=0

    # Movement speed. Average speed is 28
    I:"Трэнт Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Шаркун Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Шаркун Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Шаркун Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Шаркун Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Шаркун Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Шаркун Pierce"=0

    # Movement speed. Average speed is 28
    I:"Шаркун Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Энт Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Энт Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Энт Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Энт Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Энт Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Энт Pierce"=0

    # Movement speed. Average speed is 28
    I:"Энт Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Warg Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Warg Defense"=1.0

    # Effect strengths and durations.
    D:"Warg Effect"=1.0

    # Attack and ability speeds.
    D:"Warg Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Warg Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Warg Pierce"=1.0

    # Movement speed.
    D:"Warg Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Аризавр Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Аризавр Defense"=1.0

    # Effect strengths and durations.
    D:"Аризавр Effect"=1.0

    # Attack and ability speeds.
    D:"Аризавр Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Аризавр Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Аризавр Pierce"=1.0

    # Movement speed.
    D:"Аризавр Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Спригган Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Спригган Defense"=1.0

    # Effect strengths and durations.
    D:"Спригган Effect"=1.0

    # Attack and ability speeds.
    D:"Спригган Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Спригган Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Спригган Pierce"=1.0

    # Movement speed.
    D:"Спригган Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Трэнт Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Трэнт Defense"=1.0

    # Effect strengths and durations.
    D:"Трэнт Effect"=1.0

    # Attack and ability speeds.
    D:"Трэнт Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Трэнт Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Трэнт Pierce"=1.0

    # Movement speed.
    D:"Трэнт Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Шаркун Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Шаркун Defense"=1.0

    # Effect strengths and durations.
    D:"Шаркун Effect"=1.0

    # Attack and ability speeds.
    D:"Шаркун Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Шаркун Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Шаркун Pierce"=1.0

    # Movement speed.
    D:"Шаркун Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Энт Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Энт Defense"=1.0

    # Effect strengths and durations.
    D:"Энт Effect"=1.0

    # Attack and ability speeds.
    D:"Энт Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Энт Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Энт Pierce"=1.0

    # Movement speed.
    D:"Энт Speed"=1.0
}


