# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Barghest Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Barghest Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Barghest Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Barghest Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Barghest Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Barghest Pierce"=0

    # Movement speed. Average speed is 28
    I:"Barghest Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Бармаглот Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Бармаглот Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Бармаглот Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Бармаглот Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Бармаглот Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Бармаглот Pierce"=0

    # Movement speed. Average speed is 28
    I:"Бармаглот Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Гвонх Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Гвонх Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Гвонх Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Гвонх Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Гвонх Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Гвонх Pierce"=0

    # Movement speed. Average speed is 28
    I:"Гвонх Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Злобоглаз Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Злобоглаз Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Злобоглаз Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Злобоглаз Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Злобоглаз Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Злобоглаз Pierce"=0

    # Movement speed. Average speed is 28
    I:"Злобоглаз Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Йель Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Йель Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Йель Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Йель Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Йель Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Йель Pierce"=0

    # Movement speed. Average speed is 28
    I:"Йель Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Тролль Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Тролль Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Тролль Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Тролль Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Тролль Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Тролль Pierce"=0

    # Movement speed. Average speed is 28
    I:"Тролль Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Barghest Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Barghest Defense"=1.0

    # Effect strengths and durations.
    D:"Barghest Effect"=1.0

    # Attack and ability speeds.
    D:"Barghest Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Barghest Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Barghest Pierce"=1.0

    # Movement speed.
    D:"Barghest Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Бармаглот Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Бармаглот Defense"=1.0

    # Effect strengths and durations.
    D:"Бармаглот Effect"=1.0

    # Attack and ability speeds.
    D:"Бармаглот Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Бармаглот Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Бармаглот Pierce"=1.0

    # Movement speed.
    D:"Бармаглот Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Гвонх Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Гвонх Defense"=1.0

    # Effect strengths and durations.
    D:"Гвонх Effect"=1.0

    # Attack and ability speeds.
    D:"Гвонх Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Гвонх Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Гвонх Pierce"=1.0

    # Movement speed.
    D:"Гвонх Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Злобоглаз Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Злобоглаз Defense"=1.0

    # Effect strengths and durations.
    D:"Злобоглаз Effect"=1.0

    # Attack and ability speeds.
    D:"Злобоглаз Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Злобоглаз Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Злобоглаз Pierce"=1.0

    # Movement speed.
    D:"Злобоглаз Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Йель Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Йель Defense"=1.0

    # Effect strengths and durations.
    D:"Йель Effect"=1.0

    # Attack and ability speeds.
    D:"Йель Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Йель Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Йель Pierce"=1.0

    # Movement speed.
    D:"Йель Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Тролль Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Тролль Defense"=1.0

    # Effect strengths and durations.
    D:"Тролль Effect"=1.0

    # Attack and ability speeds.
    D:"Тролль Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Тролль Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Тролль Pierce"=1.0

    # Movement speed.
    D:"Тролль Speed"=1.0
}


