# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Африт Area Limit"=3
    I:"Кхалк Area Limit"=2
    I:"Лоббер Area Limit"=2
    I:"Цандер Area Limit"=3
    I:"Цефинис Area Limit"=6
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Африт Block Cost"=16
    I:"Кхалк Block Cost"=32
    I:"Лоббер Block Cost"=16
    I:"Цандер Block Cost"=8
    I:"Цефинис Block Cost"=32
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Африт Forced Despawning"=false
    B:"Африт Natural Despawning"=true
    B:"Кхалк Forced Despawning"=false
    B:"Кхалк Natural Despawning"=true
    B:"Лоббер Forced Despawning"=false
    B:"Лоббер Natural Despawning"=true
    B:"Цандер Forced Despawning"=false
    B:"Цандер Natural Despawning"=true
    B:"Цефинис Forced Despawning"=false
    B:"Цефинис Natural Despawning"=false
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Африт Dungeon Weight"=200.0
    D:"Кхалк Dungeon Weight"=25.0
    D:"Лоббер Dungeon Weight"=50.0
    D:"Цандер Dungeon Weight"=200.0
    D:"Цефинис Dungeon Weight"=0.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Африт Spawning Enabled"=true
    B:"Кхалк Spawning Enabled"=true
    B:"Лоббер Spawning Enabled"=true
    B:"Цандер Spawning Enabled"=true
    B:"Цефинис Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Inferno Mobs Spawn Biomes"=ALL
    S:"Inferno Mobs Spawn Dimensions"=

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Inferno Mobs Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Африт Group Max"=3
    I:"Африт Group Min"=1
    I:"Кхалк Group Max"=3
    I:"Кхалк Group Min"=1
    I:"Лоббер Group Max"=3
    I:"Лоббер Group Min"=1
    I:"Цандер Group Max"=3
    I:"Цандер Group Min"=1
    I:"Цефинис Group Max"=3
    I:"Цефинис Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Африт Spawn Biomes"=GROUP
    S:"Кхалк Spawn Biomes"=GROUP
    S:"Лоббер Spawn Biomes"=GROUP
    S:"Цандер Spawn Biomes"=GROUP
    S:"Цефинис Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Африт Spawn Chance"=1.0
    D:"Кхалк Spawn Chance"=1.0
    D:"Лоббер Spawn Chance"=1.0
    D:"Цандер Spawn Chance"=1.0
    D:"Цефинис Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Африт Spawns In Dark"=true
    B:"Африт Spawns In Light"=false
    B:"Кхалк Spawns In Dark"=true
    B:"Кхалк Spawns In Light"=false
    B:"Лоббер Spawns In Dark"=true
    B:"Лоббер Spawns In Light"=false
    B:"Цандер Spawns In Dark"=true
    B:"Цандер Spawns In Light"=false
    B:"Цефинис Spawns In Dark"=false
    B:"Цефинис Spawns In Light"=true
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Африт Spawn Dimensions"=GROUP
    B:"Африт Spawn Dimensions Whitelist Mode"=false
    S:"Кхалк Spawn Dimensions"=GROUP
    B:"Кхалк Spawn Dimensions Whitelist Mode"=false
    S:"Лоббер Spawn Dimensions"=GROUP
    B:"Лоббер Spawn Dimensions Whitelist Mode"=false
    S:"Цандер Spawn Dimensions"=GROUP
    B:"Цандер Spawn Dimensions Whitelist Mode"=false
    S:"Цефинис Spawn Dimensions"=GROUP
    B:"Цефинис Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Африт Spawn Types"=LAVA
    S:"Кхалк Spawn Types"=LAVA
    S:"Лоббер Spawn Types"=LAVA
    S:"Цандер Spawn Types"=FIRE
    S:"Цефинис Spawn Types"=LAVA
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Африт Spawn Weight"=8.0
    D:"Кхалк Spawn Weight"=1.0
    D:"Лоббер Spawn Weight"=2.0
    D:"Цандер Spawn Weight"=8.0
    D:"Цефинис Spawn Weight"=4.0
}


