# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Альфа-Мака Area Limit"=4
    I:"Вентоящер Area Limit"=10
    I:"Зоатур Area Limit"=4
    I:"Кобольд Area Limit"=10
    I:"Мака Area Limit"=10
    I:"Рух Area Limit"=3
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Альфа-Мака Block Cost"=1
    I:"Вентоящер Block Cost"=1
    I:"Зоатур Block Cost"=1
    I:"Кобольд Block Cost"=1
    I:"Мака Block Cost"=1
    I:"Рух Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Альфа-Мака Forced Despawning"=false
    B:"Альфа-Мака Natural Despawning"=false
    B:"Вентоящер Forced Despawning"=false
    B:"Вентоящер Natural Despawning"=true
    B:"Зоатур Forced Despawning"=false
    B:"Зоатур Natural Despawning"=true
    B:"Кобольд Forced Despawning"=false
    B:"Кобольд Natural Despawning"=true
    B:"Мака Forced Despawning"=false
    B:"Мака Natural Despawning"=false
    B:"Рух Forced Despawning"=false
    B:"Рух Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Альфа-Мака Dungeon Weight"=0.0
    D:"Вентоящер Dungeon Weight"=125.0
    D:"Зоатур Dungeon Weight"=100.0
    D:"Кобольд Dungeon Weight"=200.0
    D:"Мака Dungeon Weight"=0.0
    D:"Рух Dungeon Weight"=100.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Альфа-Мака Spawning Enabled"=true
    B:"Вентоящер Spawning Enabled"=true
    B:"Зоатур Spawning Enabled"=true
    B:"Кобольд Spawning Enabled"=true
    B:"Мака Spawning Enabled"=true
    B:"Рух Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Plains Mobs Spawn Biomes"=PLAINS, SAVANNA, -SNOWY
    S:"Plains Mobs Spawn Dimensions"=-1,1

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Plains Mobs Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Альфа-Мака Group Max"=2
    I:"Альфа-Мака Group Min"=1
    I:"Вентоящер Group Max"=3
    I:"Вентоящер Group Min"=1
    I:"Зоатур Group Max"=3
    I:"Зоатур Group Min"=1
    I:"Кобольд Group Max"=3
    I:"Кобольд Group Min"=1
    I:"Мака Group Max"=5
    I:"Мака Group Min"=2
    I:"Рух Group Max"=3
    I:"Рух Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Альфа-Мака Spawn Biomes"=GROUP
    S:"Вентоящер Spawn Biomes"=GROUP
    S:"Зоатур Spawn Biomes"=GROUP
    S:"Кобольд Spawn Biomes"=GROUP
    S:"Мака Spawn Biomes"=GROUP
    S:"Рух Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Альфа-Мака Spawn Chance"=1.0
    D:"Вентоящер Spawn Chance"=1.0
    D:"Зоатур Spawn Chance"=1.0
    D:"Кобольд Spawn Chance"=1.0
    D:"Мака Spawn Chance"=1.0
    D:"Рух Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Альфа-Мака Spawns In Dark"=false
    B:"Альфа-Мака Spawns In Light"=true
    B:"Вентоящер Spawns In Dark"=true
    B:"Вентоящер Spawns In Light"=false
    B:"Зоатур Spawns In Dark"=true
    B:"Зоатур Spawns In Light"=false
    B:"Кобольд Spawns In Dark"=true
    B:"Кобольд Spawns In Light"=false
    B:"Мака Spawns In Dark"=false
    B:"Мака Spawns In Light"=true
    B:"Рух Spawns In Dark"=true
    B:"Рух Spawns In Light"=false
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Альфа-Мака Spawn Dimensions"=GROUP
    B:"Альфа-Мака Spawn Dimensions Whitelist Mode"=false
    S:"Вентоящер Spawn Dimensions"=GROUP
    B:"Вентоящер Spawn Dimensions Whitelist Mode"=false
    S:"Зоатур Spawn Dimensions"=GROUP
    B:"Зоатур Spawn Dimensions Whitelist Mode"=false
    S:"Кобольд Spawn Dimensions"=GROUP
    B:"Кобольд Spawn Dimensions Whitelist Mode"=false
    S:"Мака Spawn Dimensions"=GROUP
    B:"Мака Spawn Dimensions Whitelist Mode"=false
    S:"Рух Spawn Dimensions"=GROUP
    B:"Рух Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Альфа-Мака Spawn Types"=CREATURE
    S:"Вентоящер Spawn Types"=MONSTER
    S:"Зоатур Spawn Types"=MONSTER
    S:"Кобольд Spawn Types"=MONSTER
    S:"Мака Spawn Types"=CREATURE
    S:"Рух Spawn Types"=SKY
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Альфа-Мака Spawn Weight"=6.0
    D:"Вентоящер Spawn Weight"=5.0
    D:"Зоатур Spawn Weight"=4.0
    D:"Кобольд Spawn Weight"=8.0
    D:"Мака Spawn Weight"=12.0
    D:"Рух Spawn Weight"=4.0
}


