# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Абту Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Абту Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Абту Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Абту Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Абту Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Абту Pierce"=0

    # Movement speed. Average speed is 28
    I:"Абту Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Ика Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Ика Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Ика Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Ика Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Ика Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Ика Pierce"=0

    # Movement speed. Average speed is 28
    I:"Ика Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Лацедон Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Лацедон Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Лацедон Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Лацедон Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Лацедон Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Лацедон Pierce"=0

    # Movement speed. Average speed is 28
    I:"Лацедон Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Райко Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Райко Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Райко Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Райко Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Райко Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Райко Pierce"=0

    # Movement speed. Average speed is 28
    I:"Райко Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Скулюс Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Скулюс Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Скулюс Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Скулюс Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Скулюс Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Скулюс Pierce"=0

    # Movement speed. Average speed is 28
    I:"Скулюс Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Абту Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Абту Defense"=1.0

    # Effect strengths and durations.
    D:"Абту Effect"=1.0

    # Attack and ability speeds.
    D:"Абту Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Абту Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Абту Pierce"=1.0

    # Movement speed.
    D:"Абту Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Ика Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Ика Defense"=1.0

    # Effect strengths and durations.
    D:"Ика Effect"=1.0

    # Attack and ability speeds.
    D:"Ика Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Ика Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Ика Pierce"=1.0

    # Movement speed.
    D:"Ика Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Лацедон Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Лацедон Defense"=1.0

    # Effect strengths and durations.
    D:"Лацедон Effect"=1.0

    # Attack and ability speeds.
    D:"Лацедон Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Лацедон Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Лацедон Pierce"=1.0

    # Movement speed.
    D:"Лацедон Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Райко Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Райко Defense"=1.0

    # Effect strengths and durations.
    D:"Райко Effect"=1.0

    # Attack and ability speeds.
    D:"Райко Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Райко Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Райко Pierce"=1.0

    # Movement speed.
    D:"Райко Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Скулюс Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Скулюс Defense"=1.0

    # Effect strengths and durations.
    D:"Скулюс Effect"=1.0

    # Attack and ability speeds.
    D:"Скулюс Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Скулюс Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Скулюс Pierce"=1.0

    # Movement speed.
    D:"Скулюс Speed"=1.0
}


