# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Shade Area Limit"=2
    I:"Грю Area Limit"=5
    I:"Дух Area Limit"=3
    I:"Фантом Area Limit"=5
    I:"Чупакабра Area Limit"=3
    I:"Эпион Area Limit"=5
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Shade Block Cost"=1
    I:"Грю Block Cost"=1
    I:"Дух Block Cost"=1
    I:"Фантом Block Cost"=1
    I:"Чупакабра Block Cost"=1
    I:"Эпион Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Shade Forced Despawning"=false
    B:"Shade Natural Despawning"=false
    B:"Грю Forced Despawning"=false
    B:"Грю Natural Despawning"=true
    B:"Дух Forced Despawning"=false
    B:"Дух Natural Despawning"=true
    B:"Фантом Forced Despawning"=false
    B:"Фантом Natural Despawning"=true
    B:"Чупакабра Forced Despawning"=false
    B:"Чупакабра Natural Despawning"=false
    B:"Эпион Forced Despawning"=false
    B:"Эпион Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Shade Dungeon Weight"=25.0
    D:"Грю Dungeon Weight"=200.0
    D:"Дух Dungeon Weight"=200.0
    D:"Фантом Dungeon Weight"=200.0
    D:"Чупакабра Dungeon Weight"=150.0
    D:"Эпион Dungeon Weight"=150.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Shade Spawning Enabled"=true
    B:"Грю Spawning Enabled"=true
    B:"Дух Spawning Enabled"=true
    B:"Фантом Spawning Enabled"=true
    B:"Чупакабра Spawning Enabled"=true
    B:"Эпион Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Shadow Mobs Spawn Biomes"=END
    S:"Shadow Mobs Spawn Dimensions"=1,-100

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Shadow Mobs Spawn Dimensions Whitelist Mode"=true
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Shade Group Max"=3
    I:"Shade Group Min"=1
    I:"Грю Group Max"=2
    I:"Грю Group Min"=1
    I:"Дух Group Max"=3
    I:"Дух Group Min"=1
    I:"Фантом Group Max"=2
    I:"Фантом Group Min"=1
    I:"Чупакабра Group Max"=3
    I:"Чупакабра Group Min"=1
    I:"Эпион Group Max"=2
    I:"Эпион Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Shade Spawn Biomes"=ALL, -OCEAN
    S:"Грю Spawn Biomes"=GROUP
    S:"Дух Spawn Biomes"=GROUP, SPOOKY
    S:"Фантом Spawn Biomes"=GROUP
    S:"Чупакабра Spawn Biomes"=ALL, -OCEAN
    S:"Эпион Spawn Biomes"=GROUP, SPOOKY
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Shade Spawn Chance"=1.0
    D:"Грю Spawn Chance"=1.0
    D:"Дух Spawn Chance"=1.0
    D:"Фантом Spawn Chance"=1.0
    D:"Чупакабра Spawn Chance"=1.0
    D:"Эпион Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Shade Spawns In Dark"=true
    B:"Shade Spawns In Light"=false
    B:"Грю Spawns In Dark"=true
    B:"Грю Spawns In Light"=false
    B:"Дух Spawns In Dark"=true
    B:"Дух Spawns In Light"=false
    B:"Фантом Spawns In Dark"=true
    B:"Фантом Spawns In Light"=false
    B:"Чупакабра Spawns In Dark"=true
    B:"Чупакабра Spawns In Light"=false
    B:"Эпион Spawns In Dark"=true
    B:"Эпион Spawns In Light"=false
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Shade Spawn Dimensions"=-1, 1
    B:"Shade Spawn Dimensions Whitelist Mode"=false
    S:"Грю Spawn Dimensions"=GROUP
    B:"Грю Spawn Dimensions Whitelist Mode"=false
    S:"Дух Spawn Dimensions"=GROUP
    B:"Дух Spawn Dimensions Whitelist Mode"=false
    S:"Фантом Spawn Dimensions"=GROUP
    B:"Фантом Spawn Dimensions Whitelist Mode"=false
    S:"Чупакабра Spawn Dimensions"=-1, 1
    B:"Чупакабра Spawn Dimensions Whitelist Mode"=false
    S:"Эпион Spawn Dimensions"=-1, 1
    B:"Эпион Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Shade Spawn Types"=UNDERGROUND, DARKNESS
    S:"Грю Spawn Types"=UNDERGROUND, DARKNESS
    S:"Дух Spawn Types"=UNDEATH, MONSTER
    S:"Фантом Spawn Types"=DEATH, SLEEP, MONSTER
    S:"Чупакабра Spawn Types"=UNDERGROUND
    S:"Эпион Spawn Types"=MONSTER, LUNAR
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Shade Spawn Weight"=1.0
    D:"Грю Spawn Weight"=8.0
    D:"Дух Spawn Weight"=8.0
    D:"Фантом Spawn Weight"=8.0
    D:"Чупакабра Spawn Weight"=6.0
    D:"Эпион Spawn Weight"=6.0
}


